main {
    flex-grow: 2;
}

.all-tra {
    display: flex;
    gap: 20px;
    z-index: -1;
    margin-top: 75px;
    position: absolute;
}

.traco {
    background-color: var(--accent-blue);
    height: 4.5px;
    width: 19px;
    border-radius: 2px 2px;
}

h1{
    color: var(--blue);
    font-size: 9rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 70px;
    background-color: var(--background);
    margin-left: 35%;
    margin-right: 35%;
}

.sub-title{
    color: var(--accent-blue);
    padding-left: 100px;
    font-size: 3.2rem;
    height: 50px;
    display: flex;
}

.red-1, .red-2 {
    background-color: #9D295A;
    height: 6.5px;
    margin-left: 100px;
}

.red-1 {
    border-radius: 5px 0px 0px 0px;
}

.white {
    background-color: white;
    height: 6.5px;
    margin-left: 100px;
}

.vector {
    margin-left: 100px;
    width: 1354.5;
}

.center {
    display: flex;
    justify-content: center;
}

.relatos {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 550px;
    z-index: 2;
}

.sub-title2 {
    height: 90px;
    width: 715px;
    background-color: white;
    border-radius: 30px 0px 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--details);
    font-size: 3rem;
    box-shadow: rgba(0, 0, 0, 0.250) 0px 3px 6px;
}

.relato-1 {
    margin-top: 5%;
}

.relato-1,
.relato-3 {
    background-color: rgba(255, 255, 255, 0.800);
}

.relato-1,
.relato-2,
.relato-3,
.relato-4{
    padding-left: 230px;
    padding-right: 230px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.content-container {
    display: flex;

}