header {
    height: 9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 8rem;
    background-color: #F5BEBD;
}

.links-container {
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.4rem;
}

.links-container a {
    font-size: 2.8rem;
    transition: all 0.4s;
    border-radius: 1rem;
    padding-inline: 2.3rem;
    padding-block: 1.1rem;
}

.links-container a:hover {
    border: .3rem solid #fff;
    border-radius: 1rem;
    padding-inline: 2.5rem;
    padding-block: 1.1rem;
    box-shadow: 0 .3rem .5rem #00000040;
}

.nav {
    font-weight: normal;
}

.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 8rem;
    background-color: rgba(255, 255, 255, 0.800);
}

.search-bar-container-dois {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 65rem;
    border: solid 2px var(--accent-blue);
    border-radius: 50px;
    border-width: 3px;
    box-shadow: 0 .3rem .5rem #00000040;
    gap: 38px;

    /* background-color: aqua; */
}

.search-bar {
    height: 4rem;
    width: 50rem;
    background-color: transparent;
    border: none;
}

.search-bar:active {
    border: 3px solid var(--accent-blue);
}