header {
    height: 9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 8rem;
    background-color: #F5BEBD;
    position: fixed;
    z-index: 10;
    width: 100vw;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}

.links-container {
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.4rem;
}

.links-container a{
    font-size: 2.8rem;
    transition: all 0.4s;
    border-radius: 1rem;
    padding-inline: 2.3rem;
    padding-block: 1.1rem;
}

.links-container a:hover {
    border: .3rem solid #fff;
    border-radius: 1rem;
    padding-inline: 2.5rem;
    padding-block: 1.1rem;
    box-shadow: 0 .3rem .5rem #00000040;
}

.nav {
    font-weight: normal;
}

.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 8rem;
    background-color: rgba(255, 255, 255, 0.700);
    margin-top: 9rem;
}

.search-bar-container-dois {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 65rem;
    border: solid 2px var(--accent-blue);
    border-radius: 50px;
    border-width: 3px;
    box-shadow: 0 .3rem .5rem #00000040;
    gap: 38px;
}

.search-bar {
    height: 4rem;
    width: 50rem;
    background-color: transparent;
    border: none;
}

.search-bar:focus{
    outline: none; 
}

@media (max-width: 768px) {
    header {
        padding: 2rem;
    }
    svg {
        display: none;
    }
    .logo img{
        width: 22rem;
    }
    .links-container{
        background-color: #F5BEBD;
        height: 100vh;
        position: absolute;
        z-index: 998;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        flex-direction: column;
        gap: 65px;
        transform: translate(100%);
        transition: all 1s;
    }
    .links-container a{
        font-size: 2.8rem;
        color: #FFF;
    }
    .links-container a:hover{
        border: none;
        box-shadow: none;
    }
    .search-bar-container {
        height: 5.5rem;
        width: 100vw;
    }
    .search-bar-container-dois {
        padding-left: 1.6rem;
        width: 70%;
        height: 4rem;
        gap: 16px;
    }
    .menu-burger-container.show ~ .links-container {
        transform: translate(0);
    }
}